.contacts {
  padding: 140px 0 130px;
  background-color: rgba($color-light, .2);
}

.contacts_inner {
  @include inner;
}

.contacts_title {
  @include title;
}

.contacts_tab {
  display: none;

  &.active {
    display: block;
  }
}
