.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 26px 0;
  background-color: $color-dark;

  @media (max-width: $tablet-max) {
    padding: 28px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 4px 0;
  }
}

.header_inner {
  @include inner;
}

.header_wrap {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: auto;
  font-family: $font-title;
  font-size: 42px;
  line-height: 49px;
  font-weight: 300;
  color: $color-light;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 42px;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 28px;
  }
}

.header_phone {
  // flex-shrink: 0;
  margin-left: 100px;
  font-size: 24px;
  line-height: 32px;
  color: $color-light;
  text-decoration: none;
  white-space: nowrap; // что бы телефон не переносился на вторую строку

  @media (max-width: $tablet-max) {
    margin-left: 0;
    margin-right: 35px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (max-width: $mobile-max) {
    display: none;
  }

  &:hover {
    color: $color-accent;
  }
}

.header_phone-mobile {
  display: none;

  @media (max-width: $mobile-max) {
    display: inline-block;
    margin: 0;
    margin-top: 50px;
  }
}

.header_burger {
  display: none;

  @media (max-width: $tablet-max) {
    display: block;
    width: 45px;
    height: 45px;
  }
}
