.menu {
  @media (min-width: $desktop) {
    display: block !important;
  }

  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px;
    background-color: $color-dark;
    border-top: 1px solid $color-light;
  }

  @media (max-width: $mobile-max) {
    text-align: center;
    padding: 30px 20px;
  }

  ul {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    list-style: none;
  }

  a {
    color: $color-light;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }

  &.open {
    @media (max-width: $tablet-max) {
      display: block;
    }
  }
}
