.services {
  padding: 100px 0;
  background-color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 70px 0 88px;
  }

  @media (max-width: $mobile-max) {
    padding: 50px 0;
  }
}

.services_inner {
  @include inner;
}

.services_title {
  margin-bottom: 70px;
  @include title;

  @media (max-width: $tablet-max) {
    margin-bottom: 60px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 50px;
  }
}

.services_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
  list-style: none;

  @media (max-width: $tablet-max) {
    row-gap: 60px;
  }

  @media (max-width: $mobile-max) {
    row-gap: 40px;
    flex-direction: column;
  }
}

.services_item {
  flex-basis: calc(50% - 15px);
}

.services_icon {
  display: block;
  height: 56px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.services_icon-microwave {
  background-image: url('../images/icon-serv-microwave.svg');
}

.services_icon-phone {
  background-image: url('../images/icon-serv-phone.svg');
}

.services_icon-speaker {
  background-image: url('../images/icon-serv-speaker.svg');
}

.services_icon-wood {
  background-image: url('../images/icon-serv-wood.svg');
}

.services_heading {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38px;
  }
}

.services_text {
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  color: $color-dark;

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 32px;
  }
}
