.slider {
  display: flex;
  align-items: center;
  column-gap: 10px;

  .slick-arrow {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    border-radius: 100px;
    border: none;
    background-color: $color-accent;
    cursor: pointer;
  }

  .slick-prev {
    // поставить иконку влево
  }

  .slick-next {
    // поставить иконку вправо
  }
}
