@mixin inner {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin title {
  font-family: $font-title;
  text-align: center;
  font-size: 58px;
  font-weight: 300;
  line-height: 68px;
  color: $color-accent;
}
