// Fonts
$font: 'Open Sans', sans-serif;
$font-title: 'Raleway', sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-light: #FBF2DA;
$color-dark: #152B3C;
$color-accent: #D46240;

// indents

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1px;
$tablet-max: $desktop - 1px;
